$main-color: #dbe4ec;

.drop-down {
  width: 300px;
  margin: 12px;

  .drop-down__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    border: 1px solid $main-color;
    border-radius: 4px;

    .selected-item {
      display: inline-flex;
      align-items: center;
      height: 24px;
      white-space: nowrap;

      .delete-item {
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 24px;

        &:after,
        &:before {
          content: '';
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background: $main-color;
          top: 50%;
          left: 50%;
        }

        &:after {
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }

        &:before {
          transform: translate3d(-50%, -50%, 0) rotate(135deg);
        }
      }
    }

    .drop-down__input {
      flex: 1;
      display: flex;

      input {
        flex: 1;
        height: 24px;
        border: none;
      }
    }
  }

  &__arrow {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background: $main-color;
      top: 12px;
    }

    &:after {
      transform: rotate(45deg);
      left: 2px;
    }

    &:before {
      transform: rotate(135deg);
      left: 10px;
    }
  }

  &__list {
    list-style: none;
    max-height: 232px;
    overflow: auto;
    border: 1px solid $main-color;
    border-top: none;
    padding-bottom: 4px;
    border-radius: 0 0 4px 4px;

    li {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 4px;
      border: 1px;
      border-bottom: 1px solid $main-color;
      cursor: pointer;

      &.hover {
        background: $main-color;
      }
    }
  }

  &_opened {
    .drop-down__input-wrapper {
      border-radius: 4px 4px 0 0;
    }
  }
}